body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color:black;
    padding: 10px;
    text-align: left;
    color: white;
}

.navbar {
    list-style-type: none;
    border: solid red;
    margin: 10px;
    padding: 10px;
    text-align: center;
    
}

.navi {
    margin-right: 10%;
    display: inline;
    text-align: center;
}

.hero {
    text-align: center;
    background-image:none;
    margin: 10px;
}

.btn {
    display: inline-block;
    background-color: mediumslateblue;
    box-sizing: border-box;
    text-align: center;
    margin: 0 0 0 10px;
    padding: 10px;
}

.card {
    box-sizing: border-box;
    height:250px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: aqua;
    display:inline-flex;
}

.cardtitle {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.cardlink {
    display: inline-block;
    margin: 100px;
}

.comments {
    text-align: center;
}

.comment {
    display:inline-block;
    text-align: right;
    border: solid black;
    padding: 10px;
}

.part {
    margin: 10px;
    text-align: center;
}

.footer {
    background-color: gray;
    height: fit-content;
    text-align: center;  
}

.footerinfo {
    display: inline-block;
    margin: 50px 100px 50px 100px;
    height: 100px;
    width: fit-content;
    text-align:left;
}