html {
    font-size: 18px;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color:#011827;
    padding: 10px;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: row;
}

.header h1 {
    margin-top: 0;
    padding-top: 2.2rem;
    clear: both;
}

.header img {
    float:left;
    margin-right: 10px;
}

.menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .header {
        height: fit-content;
        position: relative;
    }
    
    .header h1 {
        font-size: 1.2rem;
    }

    .menu {
        display: block;
        font-size: 2rem;
        color:white;
        text-align: center;
        margin-top: -10px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: auto;
    }

    .menuDiv {
        box-sizing: border-box;
        width: 95vw;
        margin-right: 10px;
        height: 95vh;
        background-color:#011827;
        margin-left: auto;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        box-shadow: 1rem 1rem 1rem 1rem white;
        animation-name: showMenu;
        animation-duration: 0.2s;
    }

    @keyframes showMenu {
        0% {
            opacity: 0;
        } 
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }

    .xButtonStyle {
        font-size: 2rem;
        float:right;
        margin: 1rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .menuListStyle {
        clear: both;
        list-style-type: none;
        font-size: 1.5rem;
        display:flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10rem;
        margin-right: 2rem;
    }

    .menuListStyle li {
        margin: 1.2rem;
        font-weight: bold;
    }
}

.navbar {
    background-color: #011827;
    color: white;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }
}

.navi {
    list-style-type: none;
    margin: 0 10px;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
}

.navi:hover {
    color: #8ACFE5;
}

.hero {
    text-align: center;
    margin: 0px;
}

.heroimg {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
}

.btn1 {
    display: inline-block;
    background-color: #E3170A;
    box-sizing: border-box;
    height: 66px;
    width: 308px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 4px;
}

.btn2 {
    display: inline-block;
    background-color: #8ACFE5;
    box-sizing: border-box;
    height: 66px;
    width: 308px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 4px;
}

@media screen and (min-width: 660px) {
    .btn1 {
        margin-top: -40px;
    }   

    .btn2 {
        margin-top: -40px;
    }
} 

@media screen and (max-width: 660px) {
    .btn1 {
        font-size: 1.2rem; 
    }

    .btn2 {
        background-color: white;
        color: blue;
        text-decoration: underline;
        font-size: 0.9rem;
    }
}

.comments {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-top: 2rem;
}

.comment1 {
    display: block;
    text-align: left;
    clear: both;
    margin-left: 10px;
}

.comment1 p {
    font-style: italic;
    width: 400px;
}

.comment1 cite {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 6rem;
}

.comment1 img {
    float: left;
    margin-right: 10px;
    height: 70%;
    width: 5rem;
}

@media screen and (max-width: 800px) {
    .comment1 {
        margin-right: 0;
        font-size: 0.9rem; 
    }

    .comment2 {
        margin-right: 0;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 660px) {
    .comments {
        margin-left: 0.9rem;
    }

    .comment1 {
        margin-right: 0.6rem;
        margin-left: 0.9rem;
        font-size: 0.9rem; 
        box-sizing: border-box;
        width: 95vw;
    }

    .comment1 p {
        width: 95vw;
    }

    .comment2 {
        display: none;
    }

    .comment2 p {
        display: none;
    }
    
    .comment2 cite {
        display: none;
    }
    
    .comment2 img {
        display: none;
    }
}

.comment2 {
    display:inline-block;
    text-align: left;
    clear: both;
}

.comment2 p {
    font-style: italic;
    width: 400px;
}

.comment2 cite {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 6rem;
}

.comment2 img {
    float: left;
    margin-right: 10px;
    height: 70%;
    width: 5rem;
}

.cardbox {
    margin: 10px;
    text-align: center;
    display: block;
}

.cardboxtitle {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 36px;
}

.card {
    box-sizing: border-box;
    height:446px;
    width: 363px;
    margin: 10px;
    text-align: center;
    background-color: white;
    display:inline-block;
    box-shadow: 0 0 5px lightgray;
    border-radius: 8px;
}

.card img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
} 

.cardtitle {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    padding-left: 10px;
}

.users {
    font-size: 0.7em; 
    text-align: right; 
    margin-right: 10px
}

.cardtext {
    clear: both;
    display: block;
    font-size: 0.8em;
    padding: 10px;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .card-inside-link {
        margin-top: 8px;
    }

    .cardbox {
        margin-left: 5px;
    }

    .card-inside-link {
        width: fit-content;
        margin-top: 10px;
    }

    .cards {
        display: flex; 
        justify-content: left;
        overflow-x: scroll;
    }

   .card {
        flex: none;
        width: 80%;
    } 

    .card-inside-link {
        width: fit-content;
    }
}

.card-inside-link {
    background-color: #E3170A;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    width: 170px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 4px;
}

.cardboxlink1 {
    margin: 100px;
    display: inline-block;
    background-color: #E3170A;
    box-sizing: border-box;
    height: 66px;
    width: 308px;
    text-align: center;
    margin: 10px 0 0 10px;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 4px;
}

.cardboxlink2 {
    margin: 100px;
    display: inline-block;
    background-color: #8ACFE5;
    box-sizing: border-box;
    height: 66px;
    width: 308px;
    text-align: center;
    margin: 10px 0 0 10px;
    padding: 20px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border-radius: 4px;
}

@media screen and (max-width: 660px) {
    .cardboxlink2 {
        background-color: white;
        color: blue;
        text-decoration: underline;
        font-size: 0.9rem;
    }
}

.story {
    height: 300px;
    background-color: #011827;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.storylink {
    display: inline-block;
    margin-top: 20px;
    border: solid #8ACFE5;
    box-sizing: border-box;
    height: 66px;
    width: 308px;
    text-align: center;
    padding: 18px;
    font-weight: bold;
    border-radius: 4px;;
}

.text-with-img {
    display: block;
}

.img1text img {
    float:left;
    width:50%;
    height:100%;
    margin-right: 50px;
}

.img1text {
    float: left;
    padding-right: 50px;
}

.img1text h3 {
    font-size: 32px;
    padding: 50px 50px 0 50px;
    margin-bottom: 10px;
}

.img1link {
    background-color: #E3170A;
    color: white;
    font-weight: bold;
    display: inline;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    width: 150px;
    margin: 70px 50px 30px 80px;
    border-radius: 4px;
}

.img2text img{
    width:50%;
    height:100%;
    float: right;
    margin-left: 50px;
}

.img2text {
    float: right;
    padding-left: 50px;  
    text-align: center;
}

.img2text h3 {
    font-size: 32px;
    padding: 50px 50px 0 50px;
    margin-bottom: 10px;
}

.img2link {
    background-color: #E3170A;
    color: white;
    font-weight: bold;
    display: inline;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    width: 150px;
    margin: 70px 50px 30px 80px;
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .text-with-img {
        display: block;
        clear: both;
    }

    .img1text img {
        margin-top: 10px;
        display: block;
        width: 100%;
        margin-left: 0;
        padding-left: 0; 
        margin-right: 0;
    }

    .img1text {
        display: block;
        padding: 0;
    }

    .img1link {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .img2text img {
        margin-top: 10px;
        display: block;
        width: 100%;
        margin-left: 0;
        padding-left: 0;   
    }

    .img2text {
        display: block;
        padding: 0;
    }

    .img2link {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

.footer {
    clear: both;
    background-color: #011827;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

@media screen and (max-width: 800px) {
    .footer {
        display: block;
        text-align: center;
        padding-top: 10px;
        margin-top: 10px;
    }
}

.footerinfo {
    display: inline-block;
    height: 200px;
    width: 150px;
    padding-left: 50px;
    padding-top: 50px;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: left;
    margin: 10px;
}